In [1]:
my_list=[4,2,6,5,0,1,-2]
print(max(my_list))

6

In [36]:
my_dict={'names':'UMUTONI Ritha',
         'degree':'bachelor in Information Systems',
         'courses':['programming','IS','DB']
    
}
print(my_dict['courses'])

['programming', 'IS', 'DB']

In [15]:
list =[12,5,34,8]
total=0
for x in list:
    #print(x)
    total=total+x
print(total)

59

In [37]:
def sum(numbers):
    total=0
    for x in numbers:
        total = total+x
    return total
sum([92,34,56,7,8,9])

206

In [7]:
def check_range(n):
    if n in range(3,9):
        print( " the number is in the range :", str(n))
    else :
        print("The number is not in the given range.")
check_range(5)

 the number is in the range : 5